@media (max-width: 1310px) {
  .complex-services-section__cards__col .heading {
    font-size: 47px;
  }
}
@media (max-width: 1250px) {
  .complex-services-section__cards {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    row-gap: 50px;
    margin-bottom: 70px;
  }
}
@media (max-width: 1150px) {
  .partners-wraper__inner {
    justify-content: unset;
  }
}
@media (max-width: 991px) {
  .projects-section {
    padding: 60px 0 62px;
  }
  .complex-services-section__individual-srvcs {
    width: 90%;
  }
  .gives-education-section {
    padding: 38px 30px;
  }
  .gives-education-section p {
    font-size: 40px;
  }
  .build-community-section__wrap .main-heading {
    width: 85%;
    margin: 0 auto 25px;
  }
  .build-community-section__wrap .icons-wrap {
    display: flex;
  }
  .build-community-section__result-works {
    width: 90%;
  }
  .build-community-section__result-works__row {
    padding: 0 15px;
  }
  .build-community-section__result-works__row .text-description {
    font-size: 15px;
  }
  .icons-wrap {
    top: unset;
    bottom: 8px;
    left: 15px;
  }
  .build-community-section .icons-wrap.desktop {
    display: none;
  }
  .complex-services-section__cards__col .text-description {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .icons-wrap {
    left: 0px;
  }
  .complex-services-section__cards__col .heading {
    font-size: 32px;
  }
  .complex-services-section__cards__col .text-description {
    width: 40%;
  }
  .icons-wrap .ukraine-icon {
    width: 30px;
    height: 30px;
    margin-right: 7px;
  }
  .icons-wrap .support-icon {
    width: 22px;
    height: 22px;
  }
  .build-community-section__wrap {
    padding: 30px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .build-community-section__wrap .main-heading.mobile {
    display: block;
    margin-bottom: 15px;
  }
  .build-community-section__wrap .main-heading {
    display: none;
  }
  .build-community-section__wrap .text-description.mobile {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
  }
  .build-community-section__wrap .text-description {
    display: none;
  }
  .build-community-section__wrap .btn {
    display: inline-block;
    margin-bottom: 55px;
  }
  .build-community-section__result-works {
    width: 100%;
    padding: 25px 0 30px;
    grid-column-gap: 20px;
  }
  .build-community-section__result-works__row {
    border-right: unset;
    padding: unset;
  }
  .build-community-section__result-works__row__name-results {
    font-size: 45px;
  }
  .build-community-section__result-works__row__name-results span {
    font-size: 15px;
  }
  .build-community-section__result-works__row .text-description {
    font-size: 12px;
    line-height: 16px;
  }
  .complex-services-section__cards {
    grid-template-columns: 1fr;
    grid-column-gap: unset;
    row-gap: 60px;
    margin-bottom: 50px;
  }
  .complex-services-section__cards__col .heading {
    margin-bottom: 10px;
  }
  .complex-services-section__cards__col__img {
    width: 176px;
    height: 176px;
    margin-bottom: 20px;
  }
  .complex-services-section {
    padding-top: 53px;
  }
  .complex-services-section__individual-srvcs {
    padding: 30px 35px;
    width: 100%;
    flex-direction: column;
    margin: 0 auto -80px;
  }
  .complex-services-section__individual-srvcs p {
    margin-bottom: 20px;
    text-align: center;
  }
  .projects-section {
    padding: 130px 0 40px;
  }
  .projects-section--padding-top {
    padding-top: 55px;
  }
  .projects-section .heading {
    margin-bottom: 30px;
  }
  .projects-section__inner {
    width: calc(100% + 30px);
    margin-left: -15px;
    grid-template-columns: 1fr;
    margin-bottom: 35px;
    grid-gap: 40px;
  }
  .projects-section__inner__card .img-wrap {
    height: 230px;
  }
  .projects-section__inner__card .description-card {
    padding: 20px 14px 0;
  }
  .projects-section__inner__card .description-card .category-tag {
    font-size: 11px;
    margin-bottom: 10px;
  }
  .gives-education-section {
    padding: 38px 15px;
  }
  .gives-education-section p {
    font-size: 26px;
  }
  .undp_logo {
    max-width: 80px;
    max-height: 30px;
  }
  .meest_logo {
    max-width: 100px;
    max-height: 30px;
  }
  .partners_logo2 {
    max-width: 100px;
    max-height: 30px;
  }
  .ukr_kongress {
    max-width: 50px;
    max-height: 50px;
  }
  .unite_with_ukr {
    max-width: 100px;
    max-height: 30px;
  }
  .institute_logo {
    max-width: 200px;
    max-height: 30px;
  }
  .osce_logo {
    max-width: 100px;
    max-height: 30px;
  }
}
@media (max-width: 500px) {
  .build-community-section__result-works {
    display: flex;
    width: calc(100% + 15px);
    margin-left: -15px;
    grid-column-gap: unset;
  }
  .build-community-section__result-works__row {
    width: calc(33.3% - 15px);
    margin-left: 15px;
    justify-content: space-between;
  }
  .build-community-section__result-works__row__name-results {
    margin-bottom: 5px;
  }
  .build-community-section__result-works__row__name-results span {
    font-size: 10px;
  }
  .build-community-section__result-works__row .text-description br {
    display: block;
  }
}
@media (max-width: 400px) {
  .build-community-section__wrap .main-heading {
    margin: 0 auto;
    margin-bottom: 13px;
  }
  .complex-services-section__cards__col .text-description {
    width: 85%;
  }
}