@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@font-face {
  font-family: "CodeNext-Book";
  src: url("../fonts/CodeNext-Book.woff");
}
@font-face {
  font-family: "CodeNext-Regular";
  src: url("../fonts/CodeNext-Regular.woff");
}
body {
  font-family: "CodeNext-Book", "CodeNext-Regular";
  background-color: #F4F4F4;
}
body.body-padding-top {
  padding-top: 112px;
}

html {
  scroll-behavior: smooth;
}

#wrap-loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#wrap-loading canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: calc(100vh + 110px) !important;
  outline: 1px solid #444CE7;
  z-index: 60;
  padding-bottom: 110px;
}

* {
  font-family: "CodeNext-Book", "CodeNext-Regular";
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 1330px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container-header {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.header-wrap header {
  background-color: #fff;
}

header.fixed {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #F4F4F4;
}
header.fixed .header-inner {
  padding: 16px 0px;
}
header.fixed .header-inner__logo {
  width: 138px;
  height: 38px;
}

.header-inner {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-inner__logo {
  width: 189px;
  height: 52px;
  display: block;
}
.header-inner__logo img {
  width: 100%;
}
.header-inner__right-part {
  display: flex;
  align-items: center;
}
.header-inner__right-part .languages-menu {
  margin-right: 18px;
}
.header-inner__right-part .social-media {
  display: none;
}
.header-inner .gumb {
  cursor: pointer;
  display: none;
  background-image: url(../img/gumb.svg);
  background-repeat: no-repeat;
  background-size: 27px 20px;
  width: 27px;
  height: 20px;
}
.header-inner .gumb.active {
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
.header-inner .mobile-part {
  display: flex;
  align-items: center;
  width: 63%;
  justify-content: space-between;
}

.menu {
  display: flex;
  padding-left: 0;
  align-items: center;
}
.menu li {
  margin-right: 30px;
  list-style: none;
}
.menu li.active a {
  color: #444CE7;
}
.menu li:last-of-type {
  margin-right: 0;
}
.menu li:hover a {
  color: #444CE7;
}
.menu li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #494F5B;
  text-decoration: none;
}

.languages-menu {
  padding-left: 0;
  display: none;
}
.languages-menu li {
  list-style: none;
}
.languages-menu li.current-language {
  position: relative;
}
.languages-menu li.current-language:hover .sub-menu {
  display: none;
}
.languages-menu li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #545F69;
  display: block;
  margin-bottom: 5px;
}
.languages-menu .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding-left: 0;
}

.btn {
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 24px;
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: all ease 0.5s;
  background-size: 300%;
  background-position: 0 0;
  -webkit-appearance: none !important;
}
.btn:hover {
  background-position: 100% 0;
}
.btn span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.btn--purple {
  background-image: linear-gradient(to left, #490281, #7F4CDE, #490281, #7F4CDE);
}
.btn--black {
  background-color: #101828;
}
.btn--black:hover {
  background-image: linear-gradient(to left, #490281, #101828, #490281, #101828);
}
.btn--white {
  background-color: #fff;
}
.btn--white:hover {
  background-image: linear-gradient(to left, #490281, #fff, #490281, #fff);
}
.btn--white span {
  color: #101828;
}
.btn--white svg {
  width: 15px;
  height: 16px;
  margin-left: 30px;
}
.btn--grey {
  background-color: #F2F2F2;
  border: 2px solid #444CE7;
}
.btn--grey:hover {
  background-color: #bababa;
}
.btn--grey span {
  color: #101828;
}
.btn--arrow {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.btn--arrow img {
  width: 15px;
  height: 16px;
  margin-left: 30px;
}
.btn--arrow-up {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px 14px 20px;
}
.btn--arrow-up img {
  width: 15px;
  height: 16px;
  margin-left: 30px;
}
.btn--main {
  padding: 18px 24px;
}

.bg-light-grey {
  background-color: #F4F4F4;
}

.bg-light-blue {
  background-color: #F8F9FB;
}

.bg-white {
  background-color: #fff;
}

.main-heading {
  font-weight: 400;
  font-size: 72px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #101828;
}

.text-description {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #545F69;
}
.text-description--center {
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #101828;
}
.heading--white {
  color: #FFFFFF;
}

.projects-section {
  padding: 117px 0 62px;
}
.projects-section--white {
  background-color: #fff;
}
.projects-section--light-blue {
  background-color: #F8F9FB;
}
.projects-section--padding-top {
  padding-top: 78px;
}
.projects-section .heading {
  text-align: center;
  margin-bottom: 60px;
}
.projects-section__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  margin-bottom: 60px;
}
.projects-section__inner .project-card:nth-child(even) {
  margin-top: 40px;
}
.projects-section .btn--main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card__img {
  height: 464px;
}
.project-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card__description-card {
  padding: 30px 15px 0;
}
.project-card__description-card .category-tag {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #444CE7;
  display: block;
  margin-bottom: 9px;
}
.project-card__description-card p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #101828;
  margin-bottom: 20px;
}

.gives-education-section {
  padding: 78px 71px;
  position: relative;
  width: 100%;
  max-height: auto;
}
.gives-education-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.3;
}
.gives-education-section__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.gives-education-section__video-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.gives-education-section p {
  position: relative;
  z-index: 3;
  font-weight: 400;
  font-size: 45px;
  line-height: 145%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

footer {
  background: #101828;
  padding: 60px 0 36px;
}

.footer-inner__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
}
.footer-inner__bottom .social-media {
  width: calc(70% - 90px);
  margin-right: 90px;
}
.footer-inner__bottom .social-media a {
  font-size: 20px;
  color: #C8AAFF;
}
.footer-inner__bottom__right {
  width: 30%;
  display: flex;
}
.footer-inner__bottom__right .languages-menu {
  margin-right: 20px;
}
.footer-inner__bottom__right .languages-menu li.current-language:hover .sub-menu {
  top: -25px;
}
.footer-inner__bottom__right .languages-menu li a {
  color: #FFFFFF;
}
.footer-inner__bottom .date-create {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: rgba(242, 242, 242, 0.7);
}

.form-footer {
  display: flex;
}
.form-footer__left {
  width: calc(70% - 90px);
  margin-right: 90px;
}
.form-footer__left .heading {
  margin-bottom: 65px;
}
.form-footer__right {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-footer__right .btn {
  width: 250px;
  padding: 23px 25px;
}
.form-footer__right .btn svg {
  width: 26px;
  height: 20px;
}
.form-footer__right .btn:hover span {
  color: #444CE7;
}
.form-footer__right .btn:hover svg path {
  stroke: #444CE7;
}
.form-footer__right .social-media {
  display: none;
}
.form-footer__right .text-description {
  color: #F2F2F2;
}
.form-footer__logo {
  width: 226px;
  height: 62px;
  display: block;
  margin-bottom: 20px;
}
.form-footer__logo img {
  width: 100%;
}
.form-footer__input-row {
  display: block;
  margin-bottom: 50px;
}
.form-footer__input-row:last-of-type {
  margin-bottom: 0;
}
.form-footer__input-row input, .form-footer__input-row textarea {
  padding: 15px 0;
  width: 100%;
  display: block;
  height: 65px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(242, 242, 242, 0.2);
  font-weight: 400;
  font-size: 22px;
  line-height: 145%;
  letter-spacing: -0.02em;
  color: #F2F2F2;
  outline: none;
}
.form-footer__input-row input::placeholder, .form-footer__input-row textarea::placeholder {
  font-weight: 400;
  font-size: 22px;
  line-height: 145%;
  letter-spacing: -0.02em;
  color: #F2F2F2;
  opacity: 1;
}
.form-footer__input-row input:focus, .form-footer__input-row textarea:focus {
  border-bottom: 1px solid #7F4CDE;
}

.social-media a {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #F2F2F2;
  text-decoration: none;
  margin-right: 20px;
}
.social-media a:last-of-type {
  margin-right: 0;
}

html.hidden {
  overflow: hidden;
}

body.hidden {
  overflow: hidden;
}

body.bcg-color {
  background-color: white;
}

.error {
  font-size: 12px;
  color: #C8AAFF;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 7px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 7px)) !important;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px) 0 0 !important;
}

.sucsess_popup {
  position: absolute;
  bottom: -20px;
  color: #fff;
  font-size: 11px;
  display: none;
}

.swiper-slide {
  height: unset !important;
}

.swiper-wrapper {
  align-items: stretch;
}