@media (max-width: 1300px) {
  .header-inner .mobile-part {
    width: 65%;
  }
}
@media (max-width: 1255px) {
  .social-media a {
    font-size: 17px;
    margin-right: 15px;
  }
}
@media (max-width: 1200px) {
  .header-inner .mobile-part {
    width: 67%;
  }
}
@media (max-width: 1150px) {
  .footer-inner__bottom__right {
    flex-direction: column;
  }
  .header-inner .mobile-part {
    width: 65%;
  }
  .project-card__img {
    height: 400px;
  }
  .menu li {
    margin-right: 20px;
  }
  .menu li a {
    font-size: 13px;
  }
}
@media (max-width: 1050px) {
  .header-inner .mobile-part {
    width: 66%;
  }
}
@media (max-width: 991px) {
  .container-header {
    padding: 0 15px;
  }
  header.fixed .header-inner__logo {
    width: 110px;
    height: 30px;
  }
  .form-footer {
    flex-direction: column;
  }
  .form-footer__left {
    width: 100%;
    margin-right: 0;
  }
  .form-footer__left .heading {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .form-footer__right {
    width: 100%;
  }
  .form-footer__right .btn {
    order: 1;
    margin-bottom: 10px;
    width: 100%;
  }
  .form-footer__right .info-wrap {
    order: 2;
  }
  .form-footer__right .social-media {
    display: block;
    margin-bottom: 30px;
  }
  .form-footer__right .social-media a {
    font-size: 17px;
    line-height: 30px;
    color: #C8AAFF;
  }
  .form-footer__input-row {
    margin-bottom: 30px;
  }
  .form-footer__input-row input, .form-footer__input-row textarea {
    padding: 10px 0;
    height: 45px;
    font-size: 17px;
  }
  .form-footer__input-row textarea {
    margin-bottom: 25px;
  }
  .form-footer__logo {
    width: 181px;
    height: 50px;
    display: block;
    margin-bottom: 20px;
  }
  footer {
    padding: 60px 0 20px;
  }
  .footer-inner__bottom {
    margin-top: 33px;
  }
  .footer-inner__bottom .social-media {
    display: none;
  }
  .footer-inner__bottom__right {
    width: 100%;
    flex-direction: unset;
  }
  .footer-inner__bottom__right .date-create {
    font-size: 13px;
  }
  .footer-inner__bottom__right .languages-menu {
    margin-right: 10px;
  }
  .header-inner__logo {
    width: 123px;
    height: 34px;
  }
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .menu li {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .menu li a {
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
  }
  .header-inner {
    padding: 16px 0;
  }
  header {
    position: relative;
    z-index: 14;
  }
  header.active {
    background-color: #fff;
  }
  header.active .header-inner .mobile-part {
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 62px);
    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  header.active .header-inner .mobile-part::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  header.active .header-inner .mobile-part .menu {
    padding-top: 50px;
    margin-bottom: 85px;
  }
  header.active .header-inner .mobile-part .header-inner__right-part {
    flex-direction: column;
    align-items: center;
  }
  header.active .header-inner .mobile-part .languages-menu {
    display: none;
  }
  header.active .header-inner .mobile-part .social-media {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  header.active .header-inner .mobile-part .social-media a {
    color: #7C48D9;
  }
  header.active .header-inner .gumb {
    transform: translateY(-20%) rotate(0deg);
    animation: ani 1s forwards;
  }
  @keyframes ani {
    0% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0) rotate(-90deg);
    }
  }
  .header-inner .mobile-part {
    display: none;
  }
  .header-inner .gumb {
    display: block;
  }
  .project-card__img {
    height: 340px;
  }
  .sucsess_popup {
    margin-bottom: 40px;
    position: relative;
    order: 1;
    bottom: auto;
  }
  body.body-padding-top {
    padding-top: 66px;
  }
}
@media (max-width: 768px) {
  .form-footer__right .info-wrap {
    margin-top: 40px;
  }
  .form-footer__right .btn {
    padding: 14px 21px 16px;
  }
  .form-footer__right .btn svg {
    width: 11px;
    height: 12px;
  }
  .form-footer__right .btn span {
    font-size: 14px;
  }
  .form-footer__input-row input, .form-footer__input-row textarea {
    font-size: 17px;
  }
  .form-footer__input-row input::placeholder, .form-footer__input-row textarea::placeholder {
    font-size: 17px;
  }
  .languages-menu li a {
    font-size: 13px;
  }
  .heading {
    font-size: 32px;
  }
  .btn {
    padding: 9px 16px 11px;
  }
  .btn span {
    font-size: 15px;
    line-height: 24px;
  }
  .text-description {
    font-size: 15px;
    line-height: 24px;
  }
  .main-heading {
    font-size: 27px;
    line-height: 130%;
  }
  .partners-wraper {
    padding: 10px 0;
  }
  .partners-wraper__inner__logo {
    margin-right: 30px;
  }
  .projects-section__inner {
    grid-gap: 35px;
  }
  .projects-section__inner .project-card:nth-child(even) {
    margin-top: 0;
  }
  .projects-section__inner .project-card__img {
    height: auto;
  }
  .projects-section__inner .project-card__description-card .category-tag {
    font-size: 13px;
  }
  .projects-section__inner .project-card__description-card p {
    font-size: 20px;
  }
  .gives-education-section__video {
    display: block;
  }
  .gives-education-section p {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  header.active .header-inner .mobile-part .social-media a {
    font-size: 15px;
  }
  .footer-inner__bottom__right .date-create {
    font-size: 12px;
  }
  .footer-inner__bottom__right .languages-menu {
    margin-right: 10px;
  }
  .footer-inner__bottom__right .languages-menu li a {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .form-footer__right .social-media a {
    font-size: 15px;
  }
}