@media (max-width: 1150px){

.seo-services-wrap{
	&__text{
		h2 {
		  	font-size: 45px;
		}
	} 
	&__img-wrap{
		padding-right: 0;
	}
}


.advertising-services-wrap{
	&__text{
		h2 {
		  	font-size: 45px;
		}
	} 
}
}

@media (max-width: 991px){

.cards-description-services {
  grid-template-columns: 1fr 1fr;
}

.advertising-services-wrap {
  width: 100%;
  padding: 70px 0;
  &__img-wrap{
  	padding-left: 0;
  }
}
}

@media (max-width: 768px){

.seo-services-wrap {
  	flex-direction: column-reverse;
  	margin-bottom: 30px;
  	&__text{
  		width: 100%;
  		h2 {
		  	font-size: 32px;
		  	margin-bottom: 10px;
		}
		.text-description {
		  	margin-bottom: 15px;
		}
  	}
  	&__img-wrap {
	  	width: 55%;
	  	margin-left: auto;
	  	margin-bottom: 20px;
	}
}

.cards-description-services {
  grid-template-columns: 1fr;
  &--desktop{
  	display: none;
  }
  &--mobile{
  	display: block;
  }
  &--margin-bottom{
  	margin-bottom: 30px;
  }
  &__row{
  	padding: 25px 40px 25px 25px;
  	.img-wrap {
	  	width: 70px;
	  	height: 70px;
	}
	h3 {
	  	font-size: 17px;
	  	line-height: 130%;
	}
  }
}

.advertising-services-wrap {
  flex-direction: column;
  padding: 50px 0 30px;
  &__text{
  	width: 100%;
  	h2 {
		font-size: 32px;
		margin-bottom: 20px;
		& br{
			display: block;
		}
	}
  }
  &__img-wrap{
  	width: 55%;
  	margin-right: 0;
  	margin-left: auto;
  	margin-bottom: 20px;
  }
}
}

@media (max-width: 500px){

.advertising-services-wrap {
  &__img-wrap{
  	width: 80%;
  	margin-right: 0;
  	margin-left: auto;
  }
}	

.seo-services-wrap  {
  &__img-wrap{
  	width: 80%;
  	margin-right: 0;
  	margin-left: auto;
  }
}	
}
